.mainbox {
	background: linear-gradient(#b7b8f13d, #a39fffb8);
	padding: 20px;
	display: flex;
	height: 586px;
}


.inner-box {
	margin: 0 auto;
	border: 2px solid aliceblue;
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 50%;
}
.box-1 {
    background-image: url("https://img.freepik.com/free-photo/2d-graphic-wallpaper-with-colorful-grainy-gradients_23-2151001535.jpg?semt=ais_hybrid&w=740&q=80");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    
    width: 50%;
	border: 1px solid aliceblue;
	text-align: center;
	align-content: center;
  
}

.box-2 {
	width: 50%;
	border: 1px solid aliceblue;
	text-align: center;
	padding-top: 25px;
}


.a {
	color: white;
	width: 48%;
	margin: 0 auto;
	font-size: 15px;
	font-weight: 600;
	 font-family: "Poppins", sans-serif;
}

.z {
	color: white;
	width: 84%;
	margin: 0 auto;
	font-size: 25px;
	font-weight: 600;
	 font-family: "Poppins", sans-serif;
}


.b {
	color: #3768ba;
	font-size: 28px;
	font-weight: 700;
	padding-bottom: 8px;
	padding-top: 17px;
	font-family: "Poppins", sans-serif;
}
.d {
	color: #3768ba;
	font-size: 13px;
	font-weight: 100;
	padding-bottom: 18px;
	padding-top: 0px;
	font-family: "Poppins", sans-serif;
}



.inp-1 {
	padding: 8px;
	margin-top: 10px;
	border-radius: 6px;
	width: 85%;
}

.btn {
	background-color: #3c6cbe;
	padding: 8px 18px 8px 18px;
	border-radius: 11px;
	margin-top: 0px;
	color: white;
	font-family: "Poppins", sans-serif;
	width: 75%;
}


.btn-2 {
	background-color: #fff;
		padding: 8px 18px 8px 18px;
	border-radius: 11px;
	margin-top: 0px;
	color: #4e77c3;
	font-family: "Poppins", sans-serif;
	width: 75%;
	font-size: 15px;
	font-weight: 500;
}
.check {
	display: flex;
	margin-left: 27px;
	padding-top: 10px;
	column-gap: 8px;
}


.rem {
	color: #3768ba;
	font-weight: 600;
	font-size: 13px;
	 font-family: "Poppins", sans-serif;
}

.de {
	color: #3768ba;
	font-size: 13px;
	font-weight: 100;
	padding-bottom: 0px;
	padding-top: 5px;
	font-family: "Poppins", sans-serif;
	position: relative;
}
.de::after {
	content: '';
	display: block;
	width: 33%;
	height: 1px;
	background-color: #3768ba;
	margin-top: 10px;
	position: relative;
	right: -167px;
	bottom: 21px;
}

.de::before {
	content: '';
	display: block;
	width: 33%;
	height: 1px;
	background-color: #3768ba;
	margin-top: 2px;
	position: relative;
	right: -39px;
	bottom: -10px;
}

.btn:hover {
	transform: scale(1.1);
}

.btn-2:hover {
	transform: scale(1.1);
}


.section-2 {
	display: flex;
	padding-top: 30px;
	background-color: #f0f4fd;
}

.dashbar {
	width: 100%;
	max-width: 219px;
	background-color: #fff;
	overflow: hidden;
}


.b-1 {
	padding: 40px 20px 19px 20px;
	border-bottom: 2px solid #ccdae5;
	text-align: center;
}


.b-2 {
	padding: 20px 10px 10px 16px;
	height: 500px;
}



a {
	color: inherit;
	text-decoration: inherit;
	display: block;
}


.ri-google-fill {
	font-size: 17px;
	margin-right: 10px;
}

.ri-home-5-line {
	margin-right: 10px;
}

.ri-shopping-cart-2-line {
	margin-right: 10px;
}

.ri-bar-chart-2-line{
	margin-right: 10px;
}


.ri-user-fill {
	margin-right: 10px;
}

.ri-lock-2-line {
	margin-right: 10px;
}

.ri-speak-ai-fill {
	margin-right: 10px;
}

.hh2 {
	font-size: 20px;
	font-weight: 600;
	color: #48494a;
}


a {
	font-weight: 600;
	font-size: 13px;
	margin-left: 10px;
}


.div-1 {
	display: flex;
	padding: 20px;
	column-gap: 545px;
}


.inp-d {
	padding: 5px 0px 6px 27px;
	border-radius: 42px;
	background-color: #e4edff;

}


.p-2 {
	padding: 10px 15px 10px 15px;
	background-color: white;
	border-radius: 34px;
		position: relative;
}

.ri-notification-line {
	margin-left: 9px;
	color: #0000008a;
}

.ri-reddit-fill {
	margin-left: 2px;
	color: #0000008a;
}

.ri-palette-fill {
	margin-left: 2px;
	color: #0000008a;
}


.h-3 {
	font-size: 12px;
	color: #000000b8;
}


.h-4 {
	font-size: 23px;
	font-weight: 600;
}

.ri-search-line {
	position: absolute;
	left: 24px;
	top: 18px;
	color: #0000008a;
}


.div-2 {
	display: flex;
	column-gap: 3px;
}

.bx-1 {
	width: 14%;
	background-color: white;
	border-radius: 10px;
	margin-left: 21px;
	justify-content: center;
	align-items: center;
	padding: 15px 10px 20px 0px;
	display: flex;
}

.bx-2 {
	width: 14%;
	background-color: white;
	border-radius: 10px;
	margin-left: 21px;
	justify-content: center;
	align-items: center;
	padding: 6px 10px 20px 0px;
	display: flex;
}

.bx-3 {
	width: 14%;
	background-color: white;
	border-radius: 10px;
	margin-left: 21px;
	align-items: center;
	padding: 7px 10px 20px 14px;
	display: flex;
}

.bx-4 {
	width: 14%;
	background-color: white;
	border-radius: 10px;
	margin-left: 21px;
	justify-content: center;
	align-items: center;
	padding: 15px 10px 20px 0px;
	display: flex;
}

.bx-5 {
	width: 14%;
	background-color: white;
	border-radius: 10px;
	margin-left: 21px;
	justify-content: center;
	align-items: center;
	padding: 15px 10px 20px 0px;
	display: flex;
}

.bx-6 {
	width: 14%;
	background-color: white;
	border-radius: 10px;
	margin-left: 21px;
	justify-content: center;
	align-items: center;
	padding: 15px 10px 20px 0px;
	display: flex;
}

.ri-rhythm-line {
	color: #5757ff;
	background-color: #e4edff;
	padding: 10px;
	border-radius: 19px;
	margin-right: 10px;
}

.ri-money-dollar-circle-line {
	color: #5757ff;
	background-color: #e4edff;
	padding: 10px;
	border-radius: 19px;
	margin-right: 2px;
	margin-left: 10px;
}
.ri-file-line {
	color: #5757ff;
	background-color: #e4edff;
	padding: 10px;
	border-radius: 19px;
	margin-right: 2px;
	margin-left: 3px;
	font-size: 21px;
}





.hh-4i{
	font-size: 10px;
	color: #0000008f;
}

.hh-4o {
	font-size: 11px;
	color: #0000008f;
	width: 74%;
	margin-left: 6px;
}

.hh-4p {
	font-size: 11px;
	color: #0000008f;
}


.txt {
	height: 39px;
	line-height: 1.3;
}

.hh-4 {
	font-size: 21px;
	color: black;
	font-weight: 600;
	padding-bottom: 7px;
}

.hh-41 {
	font-size: 18px;
	color: black;
	font-weight: 600;
	padding-bottom: 7px;
	margin-left: 6px;
}

.hh-42 {
	font-size: 18px;
	font-weight: 600;
}

.span {
	color: #27e027;
	font-weight: 500;
	font-size: 9px;
	margin-right: 5px;
}

.sale {
	font-size: 9px;
	color: #0000007d;
}

.usa {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin-left: 12px;
}
.right {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin-right: 10px;
}

.l-1 {
	display: flex;
}





.div-3 {
	padding: 20px;
	display: flex;
	column-gap: 35px;
}

.bigbox-1 {
	background-color: white;
	width: 48%;
	padding: 10px 15px 30px 15px;
	border-radius: 15px;
}

.bigbox-2 {
	background-color: white;
	width: 48%;
	padding: 10px 15px 30px 15px;
	border-radius: 15px;
}


 .bigbox-3 {
	background-color: white;
	width: 48%;
	padding: 10px 15px 30px 15px;
	border-radius: 15px;
}


.line-1 {
	display: flex;
	column-gap: 317px;
	padding-top: 10px;
}

.\.ha3 {
	color: #0000009e;
	font-size: 12px;
}

.ri-calendar-line {
	font-size: 12px;
	color: #0000007d;
}



.l-1 {
	display: flex;
	background-color: #e7e7e7;
	padding: 8px 9px 8px 8px;
	border-radius: 10px;
}


.graph {
	width: 96%;
}

.line-2 {
	display: flex;
	margin-top: 20px;
}


.hh-5 {
	font-size: 24px;
	font-weight: 600;
}

.hh-6 {
	font-size: 13px;
	color: #0000008f;
}


.ri-grok-ai-line {
	margin-right: 5px;
}

.hh6 {
	font-size: 10px;
	color: #17c617;
	font-weight: 600;
	margin-top: 8px;
	margin-left: 25px;
}

.l-3 {
	width: 33%;
}

.l-1p {
	font-size: 13px;
	font-weight: 400;
	color: black;
}

.l-4 {
	margin-top: 10px;
}


.div-4 {
	padding: 20px;
}

.ri-more-line{
	color: #5757ff;
  background-color: #e4edff;
  padding: 10px;
  border-radius: 19px;
  margin-right: 10px;
}

.br {
	font-size: 12px;
	color: #00000080;
}


.chek-t {
	font-size: 17px;
	font-weight: 600;
}

.other {
	display: flex;
	column-gap: 49px;
}

.other-1 {
	display: flex;
	column-gap: 75px;
}

.line-2b {
	display: flex;
	column-gap: 120px;
	margin-top: 25px;
	border-bottom: 1px solid #cac0c0ad;
	padding-bottom: 7px;
	width: 95%;
}

.i-txt {
	font-size: 11px;
	margin-left: 6px;
	font-weight: 600;
}

.line-3 {
	display: flex;
	column-gap: 65px;
	margin-top: 18px;
}
.line-4 {
	display: flex;
	column-gap: 65px;
	margin-top: 18px;
}
.line-5 {
	display: flex;
	column-gap: 65px;
	margin-top: 18px;
}
.line-6 {
	display: flex;
	column-gap: 65px;
	margin-top: 18px;
}
.line-7 {
	display: flex;
	column-gap: 65px;
	margin-top: 18px;
}

.inp-T {
	display: flex;
}

.res {
	font-size: 12px;
	font-weight: 600;
}

.div-4 {
	display: flex;
}

.bigbox-4 {
	background-color: white;
	border-radius: 18px;
	width: 23%;
	margin-left: 37px;
	padding: 20px 20px 0px 20px;
}

.l-1a {
	font-size: 13px;
	color: #00000096;
}

.l-2a {
	color: black;
	font-size: 21px;
	font-weight: 600;
}

.ri-bar-chart-grouped-line {
	font-size: 133px;
	margin-left: 26px;
	color: #5757ff;
}

.graph-2 {
	width: 79%;
	margin-top: 37px;
	margin-left: 10px;
}

.page {
	height: 818px;
	overflow-y: auto;
}

.page {
	height: 599px;
	overflow-y: auto;
}


.ima-1 {
	width: 50%;
	border: 1px solid #00000057;
	border-radius: 12px;
}


.ima-2 {
	width: 50%;
	border: 1px solid #00000057;
	border-radius: 12px;
}


.n-2 {
	display: flex;
	column-gap: 40px;
	padding: 20px 20px 30px 20px;
	border-bottom: 1px solid #00000047;
}

.heading {
	margin-left: 19px;
	font-size: 20px;
	font-weight: 600;
	color: #000000b5;
}

.heading-2 {
	margin-left: 25px;
	margin-top: 15px;
	color: #000000ba;
	font-size: 20px;
	font-weight: 600;
}
.card {
	width: 20%;
	border: 1px solid #00000017;

}

.cardimage {
	width: 100%;
}

.card-h {
	font-size: 13px;
	font-weight: 600;
	padding: 2px;
	background-color: #80808087;

}

p {
	font-size: 9px;
	width: 100%;
	max-width: 159px;
	margin-left: 4px;
	padding: 9px 9px 0px 10px;
	color: #000000ad;
}


.card-btn {
	border: 1px solid #7daed8;
	width: 100%;
	margin-top: 5px;
	color: #7daed8;
	font-weight: 600;
}

.nft-2 {
	width: 60%;
	overflow-x: auto;
	position: relative;
	background-color: white;
	padding: 30px 40px 30px 30px;
	border-radius: 20px;
	margin-top: 30px;
	margin-left: 20px;
}

.nftmarketplace {
	padding-bottom: 50px;
	height: 600px;
	overflow-y: auto;
}



.card-box {
	display: flex;
	width: 145%;
	overflow-wrap: revert;
	column-gap: 23px;
}

